#furnitureTiles, #kitchenwareTiles, #electronicsTiles, #clothesTiles, #foodTiles, #toysTiles, #miscTiles {
  margin: auto;
  width: 80%;
  margin-bottom: 150px;
}

.card {
  margin-bottom: 25px;
  text-align: left;
}

.card-content {
  padding: 0;
}

.card-footer {
  margin-top: 20px;
}

.name {
  background: #376996;
  width: 100%;
  color: white;
  margin-bottom: 0;
}

.subtitle {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px
}

.contact {
  margin: auto;
  width: 100%;
}

h1 {
  font-size: 20px;
}

@media only screen and (max-width: 500px) {
  #furnitureTiles, #kitchenwareTiles, #electronicsTiles, #clothesTiles, #foodTiles, #toysTiles, #miscTiles {
    margin: auto;
    width: 80%;
    margin-top: 50px;
    /* margin-bottom: 2000px; */
  }
  #furnitureTiles>div:last-child, #kitchenwareTiles>div:last-child, #electronicsTiles>div:last-child, #clothesTiles>div:last-child, #foodTiles>div:last-child, #toysTiles>div:last-child, #miscTiles>div:last-child {
    margin-bottom: 150px;
  }
}

.img-div, img {
  margin: auto;
  width: 100%;
}


span, h1 {
  text-transform: capitalize;
}

.mapquest-logo, .logo-small, .leaflet-control, .leaflet-bottom, .leaflet-left {
  display: none;
}

.footer {
  z-index: 999;
}