/* Add Item Modal */

.page-modal{
    margin-right: 10%;
    background-color: white;
    margin-top:30%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  
  .modalContainer {
    text-align: center;
    margin-top:2%;
  }
  
  hr{
   background-color:black;
   height:1px;
  }
  
  /* Update User Item Modal */
  
  #itemDiv {
    display:none;
  }
  
  #priceDiv{
    display:none;
  }
  
  #categoryDiv{
    display:none;
  }
  
  #conditionDiv{
    display:none;
  }
  #descriptionDiv{
    display:none;
  }