/* #map {
    border: 2px solid #26a69a;
}
.leaflet-control {
    width: 290px;
    height: 150px;
    margin-bottom: none;
}
.leaflet-bar {
    box-shadow: none;
}
.directionbtn {
    left: 8em;
    top: -2em;
}
.mapquest-logo {
    visibility: hidden;
} */
