.navbar, .footer {
  background-color: #376996;
}

.button {
  background-color: #6290C8;
}

.navbar-item, span, .footer-text, strong {
  color: #F5F5F5;
}

.footer-link {
  color: #add8e6;
  text-decoration: underline;
}

.footer {
  position: fixed;
  height: 15%;
  width: 100%;
  bottom: 0;
}