.inlineInsteadOfBlock {
  display: inline
}

#userLoggedIn {
  display: none;
  background-color: #333;
  width: 100%;
  padding-right: 3%;
  color: white
}

#userLogIn {
  display: none;
  background-color: #333;
  width: 100%;
  text-align: right;
  padding-right: 3%
}

#rightAlign {
  align-self: right;
}

#hello {
  margin-right: 28%;
  margin-left: 5%
}

#profile {
  margin-right: 3%;
}