<<<<<<< HEAD
.inlineInsteadOfBlock {
    display: inline
}

#userLoggedIn {
    display: none;
    /* background-color: #333; */
    background-color: #191818;
    width: 100%;
    padding-right: 3%;
    color: white
}

#userLogIn {
    display: none;
    /* background-color: #333; */
    background-color: #191818;
    width: 100%;
    text-align: right;
    padding-right: 3%
}

#rightAlign {
    align-self: right;
}

#hello {
    margin-right: 28%;
    margin-left: 5%
}

#profile {
    margin-right: 3%;
}
=======
#userLoggedIn {
  display: none;
  color: white
}

#userLoggingIn {
  display: none
}

#profileLink {
  display: none
}
>>>>>>> 9d2ce62ca05dc2bbc70d006efd625468b7d06f82
