<<<<<<< HEAD
<<<<<<< HEAD
.inlineInsteadOfBlock {
    display: inline
}

#userLoggedIn {
    display: none;
    /* background-color: #333; */
    background-color: #191818;
    width: 100%;
    padding-right: 3%;
    color: white
}

#userLogIn {
    display: none;
    /* background-color: #333; */
    background-color: #191818;
    width: 100%;
    text-align: right;
    padding-right: 3%
}

#rightAlign {
    align-self: right;
}

#hello {
    margin-right: 28%;
    margin-left: 5%
}

#profile {
    margin-right: 3%;
}
=======
=======
>>>>>>> 9aaba611660a55214b2f7fef3d9c0aa2c8d9b097
#userLoggedIn {
  display: none;
  color: white
}

#userLoggingIn {
  display: none
}

#profileLink {
  display: none
}
<<<<<<< HEAD
>>>>>>> 9d2ce62ca05dc2bbc70d006efd625468b7d06f82
=======

#userSigningUp {
  display: none
}
<<<<<<< HEAD
>>>>>>> 9aaba611660a55214b2f7fef3d9c0aa2c8d9b097
=======

#myListings {
  display: none
}
>>>>>>> 38ebc40fbeb93948265bbd1ab69c6b982ed0d625
